* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ************************************************************************ */
/* ************************  Landing Image  ******************************* */
.landing-image {
    background-image: url("../images/landing.jpg");
    height: 100vh;
    filter: brightness(40%);
}
/* ************************************************************************ */
/* ************************************************************************ */