* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15, 116, 143, 70%);
    --section-padding: 100px;
}

html {
    line-height: 1.5;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* ************************************************************************ */
/* ***********************  local  framework  ***************************** */
.container {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.overlay {
    background-color: rgb(0, 0, 0, 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro-card {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    background-color: var(--transparent-color);
    padding: 50px;
    display: flex;
}

.main-heading {
    padding: var(--section-padding);
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 40px;
    position: relative;
}

.main-heading h2::before, .main-heading h2::after {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.main-heading h2::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #FFF;
    transform: translate(-50%, calc(50% - 1px));
}

.main-heading p {
    width: 550px;
    color: #777;
    text-align: center;
    margin: 0 auto;
}

.button {
    display: block;
    width: fit-content;
    cursor: pointer;
    padding: 15px 20px;
    color: #FFF;
    background-color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    margin: 30px auto;
}

.dots {
    text-align: center;
}

.dots i:nth-child(2) {
    color: var(--main-color);
}

.dots span {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #FFF;
}

.dots span:not(:last-child) {
    margin-right: 5px;
}

.dots span.active-dot {
    background-color: var(--main-color);
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  header  *********************************** */
header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container::after {
    content: "";
    width: 1170px;
    height: 1px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
}

.logo {
    height: 40px;
    cursor: pointer;
}

nav {
    display: flex;
    color: white;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-element {
    padding: 25px 15px;
    position: relative;
}

.nav-element:first-child a {
    color: var(--main-color);
}

.nav-element:hover a {
    color: var(--main-color);
}

.nav-element:first-child::after, .nav-element:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.nav-element a {
    text-decoration: none;
    line-height: 50px;
    color: #FFF;
}

.nav-search-icon {
    width: 40px;
    height: 30px;
    line-height: 30px;
    position: relative;
    align-self: center;
    border-left: 1px solid #FFF;
    margin-left: 15px;
}

.nav-search-icon i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ************************  Landing Image  ******************************* */
.landing-image {
    background-image: url("../images/landing.jpg");
    height: 100vh;
    width: 100%;
}

.landing-image .intro-card {
    left: 0;
    justify-content: flex-end;
}

.landing-image .content {
    max-width: 500px;
}

.intro-heading {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 14px;
    line-height: 2;
}

.landing-navigation .arrows {
    color: white;
    font-size: 25px;
}

.landing-navigation .arrows i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.landing-navigation .arrows i:first-child {
    left: 30px;
}

.landing-navigation .arrows i:last-child {
    right: 30px;
}

.landing-navigation .dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.landing-navigation .dots span {
    width: 20px;
    height: 20px;
}

.landing-image .dots span.active-dot {
    border: none;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***********************  services section  ***************************** */
.services {
    background-color: #FFF;
    width: 100%;
    display: inline-block;
    z-index: -1;
}

.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item {
    display: flex;
    width: 46%;
}

.service-item i {
    font-size: 3em;
    margin-right: 40px;
}

.service-text {
    padding-bottom: 50px;
}

.service-text h3{
    color: var(--main-color);
    margin-bottom: 30px;
}

.service-text p {
    color: #777;
    line-height: 2;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* *************************  design section  ***************************** */
.design {
    height: 600px;
    position: relative;
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    overflow: hidden;
}

.design img {
    position: absolute;
    left: 25%;
    bottom: -10%;
    transform: translateX(-50%);
}

.design .design-heading {
    font-weight: normal;
    margin-bottom: 20px;
}

.design .intro-card {
    right: 0;
}

.design-list {
    list-style: none;
}

.design-list-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.design-list-item::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ************************  portfolio section  *************************** */
.portfolio-categories {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.portfolio-categories li {
    padding: 10px;
}

.portfolio-categories li.active {
    color: #FFF;
    background-color: var(--main-color);
}

.portfolio-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px 0;
    margin-bottom: 30px;
}

.project {
    flex-basis: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.project-info {
    width: 100%;
    background-color: #FFF;
    padding: 15px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 100%;
}

.project-name {
    font-weight: normal;
    margin-bottom: 10px;
}

.project-category {
    color: var(--main-color);
}

.project:hover img {
    transform: rotate(4deg) scale(110%);
}

.project:hover .project-info {
    transform: translateY(-100%);
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  video section  **************************** */
.video {
    width: 100%;
    position: relative;
}

.video video {
    width: 100%;
}

.video .intro-card {
    width: 100%;
    text-align: center;
}

.video .content {
    margin: 0 auto;
}

.video-heading {
    font-weight: normal;
    margin-bottom: 20px;
}

.video .content a {
    margin: 20px auto 0 auto;
    background-color: #000;
    padding: 10px 20px;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  about section  **************************** */
.about {
    overflow: hidden;
    text-align: center;
}

.about .main-heading {
    padding-bottom: 0;
}

.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  stats section  **************************** */
.stats {
    background-image: url("../images/stats.png");
    position: relative;
    padding: 100px 0;
    text-align: center;
    color: #FFF;
}

.stats .overlay {
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    display: flex;
    justify-content: space-between;
    background-color: var(--transparent-color);
}

.stats .stat-item {
    padding: 50px;
    flex-basis: 25%;
}

.stats .stat-item i {
    background-color: #000;
    border-radius: 50%;
    margin: 0 auto 30px;
    padding: 12px;
}

.stats .stat-item .stat-count {
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 20px;
}

.stats .stat-item p {
    font-size: 14px;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  skills section  *************************** */
.our-skills {
    padding: var(--section-padding);
}

.our-skills .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-skills .container > div {
    flex-basis: 45%;
}

.our-skills .container > div > h3 {
    font-weight: normal;
    margin: 0 0 30px;
    text-align: center;
}

.our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .review {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .review img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.our-skills .review .text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}

.our-skills .review .text p:last-child {
    text-align: right;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .dots span {
    width: 15px;
    height: 15px;
    border-color: #CCC;
}

.our-skills .dots span.active-dot {
    border: none;
}

.prog-holder {
    margin-bottom: 40px;
}

.prog-holder h4 {
    font-weight: normal;
    margin-bottom: 15px;
}

.prog {
    background-color: #dedadc;
    height: 30px;
}

.prog span {
    background-color: var(--main-color);
    display: inline-block;
    height: 100%;
    position: relative;
}

.prog-holder:first-of-type span {
    width: 90%;
}

.prog-holder:nth-of-type(2) span {
    width: 85%;
}

.prog-holder:nth-of-type(3) span {
    width: 80%;
}

.prog-holder:last-of-type span {
    width: 90%;
}

.prog span::before {
    content: attr(data-progress);
    width: 40px;
    text-align: center;
    color: #FFF;
    background-color: #000;
    padding: 4px 0;
    position: absolute;
    right: 0;
    bottom: 100%;
    transform: translateX(50%) translateY(-20px);
    border-radius: 5px;
}

.prog span::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-20px);
    border-color: #000 transparent transparent transparent;
    border-width: 9px;
    border-style: solid;

}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ****************************  quote section  *************************** */
.quote {
    background-image: url("../images/quote.jpg");
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding: var(--section-padding) 0;
    position: relative;
}

.quote .overlay {
    background-color: rgb(0, 0, 0, 75%);
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
    position: relative;
}

.quote p {
    position: relative;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  pricing section  ************************** */
.pricing-plans {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plan {
    background-color: #fcfcfc;
    flex-basis: 23%;
}

.plan-head {
    border-width: 1px 0 1px 0;
    border-color: var(--main-color);
    border-style: solid;
    padding: 40px 20px;
}

.plan-name {
    font-weight: normal;
    margin-bottom: 20px;
}

.plan-price {
    font-size: 60px;
    font-weight: bold;
}

.plan-price::before {
    content: "$";
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 15px;
}

.plan-price::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.plan-features {
    list-style: none;
    border-bottom: 1px solid var(--main-color);
}

.plan-features li {
    padding: 20px;
    position: relative;
}

.plan-features li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.plan a {
    background-color: transparent;
    border: 1px solid var(--main-color);
    display: block;
    padding: 20px;
    margin: 30px auto;
    width: fit-content;
    text-decoration: none;
}

.pricing .contact p {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .contact .button {
    margin: 20px auto var(--section-padding);
    padding: 15px 30px;
    text-transform: none;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* **************************  subscribe section  ************************* */
.subscribe {
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    position: relative;
    padding: var(--section-padding);
    color: #FFF;
}

.subscribe .overlay {
    background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
    display: flex;
    align-items: center;
}

.subscribe form {
    width: 500px;
    position: relative;
}

.subscribe form i {
    color: #FFF;
    font-size: 1.3333em;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.subscriber-email {
    background: none;
    padding: 20px 20px 20px 60px;
    border: 1px solid #FFF;
    border-right: none;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: #FFF;
}

.subscribe form .submit {
    width: 125px;
    padding: 20px;
    background-color: var(--main-color);
    border: 1px solid #FFF;
    border-left: none;
    text-transform: uppercase;
    color: #FFF;
    position: absolute;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* *************************  contact-us section  ************************* */
.contact-us .content {
    display: flex;
    justify-content: space-between;
}

.contact-us form {
    width: 70%;
}

.main-input {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid #CCC;
    margin-bottom: 30px;
}

.contact-us form textarea {
    height: 200px;
}

.contact-us form .button {
    border: none;
    margin-right: 0;
    margin-bottom: var(--section-padding);
}

.contact-us .content .info {
    width: 25%;
    color: #777;
}

.contact-us .content .info .phone-details {
    margin-bottom: 90px;
}

.contact-us .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.contact-us .content .info p{
    margin-bottom: 10px;
}

.contact-us .content .info .address-details address {
    line-height: 2;
}
/* ************************************************************************ */
/* ************************************************************************ */

/* ************************************************************************ */
/* ***************************  footer section  *************************** */
footer {
    padding: calc(var(--section-padding) / 2);
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    color: #FFF;
    position: relative;
}

footer .container {
    text-align: center;
}

footer img {
    margin-bottom: 20px;
}

.social-links p {
    width: fit-content;
    border-bottom: 1px solid #FFF;
    padding: 20px;
    margin: 20px auto;
    text-transform: uppercase;
    font-size: 22px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i {
    color: #FFF;
    padding: 10px 15px;
}

footer .copyrights {
    margin-top: 60px;
}

footer .copyrights span {
    color: var(--main-color);
    font-weight: bold;
}
/* ************************************************************************ */
/* ************************************************************************ */